<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d115805.7281298278!2d67.0728192!3d24.9004032!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d363ea29e633b7%3A0x61975ae4b9c5aab3!2sNiagara%20Falls%2C%20NY%2C%20USA!5e0!3m2!1sen!2s!4v1681330664679!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>